<!DOCTYPE html>
<html>
    <head>
        <title>My contact</title>
    </head>
    <body>
        <nav>
            <a href="/">
              Home
            </a>
            &nbsp
          
            <a href="/contact">
              Contact
            </a>
            &nbsp
          
            <a href="/post">
              Posts
            </a>
            &nbsp
          
        </nav>
        <h1>This is my contact</h1>
        <p>Nguyen Viet Hoang - K63CACLC2</p>
        <p>Email: kaka@gmail.com</p>
        <p>Phone: 0124873223</p>
    </body>
</html>