<!DOCTYPE html>
<html>
    <head>
        <title>Introduction</title>
    </head>
    <body>
        <nav>
  
            <a href="/">
              Home
            </a>
            &nbsp
          
            <a href="/contact">
              Contact
            </a>
            &nbsp
          
            <a href="/post">
              Posts
            </a>
            &nbsp
          
        </nav>
        <h1>My fisrt blog</h1>
        <p>Welcome!</p>
        <p></p>
        <p>This is a silly blog that I created for my homework.</p>
        <p>For business, there are some information to contact me in Contact tab</p>
    </body>
</html>